<%- include('../port/layout-start', { title: title}) %> <%-
include('../elems/menu') %>
<body style="margin: 1rem">
  <%- include('../elems/form', {book: book, action: action}) %> <%-
  include('../port/layout-end') %>
</body>
