# node unified source codes
node_modules/

# foreing service files
db_data/
data/
counter_data/

# user storage files
public/books/
public/img/

# logs
server.log
*.log

# other
.env
README.md

data-storage/library.json